:root {
  --primary: #22c55e;
  --primary-soft: #4ade80;
  --primary-dark: #16a34a;
  --bg-dark: #001b0f;
  --border: #14532d;
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

/* Background */
body {
  background: radial-gradient(circle at center, #001b0f, #000000 70%);
  color: #d1fae5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Card */
.container {
  width: 100%;
  max-width: 600px;
  background: rgba(0, 20, 10, 0.95);
  padding: 30px;
  border-radius: 16px;
  border: 1px solid var(--border);
  box-shadow: 0 0 40px #22c55e22;
}

/* Title */
h1 {
  text-align: center;
  margin-bottom: 10px;
  color: var(--primary);
  text-shadow: 0 0 12px var(--primary);
}

p {
  text-align: center;
  margin-bottom: 15px;
  opacity: 0.8;
}

/* Textarea */
textarea {
  width: 100%;
  height: 120px;
  background: #000;
  color: #86efac;
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 12px;
  font-size: 16px;
  resize: none;
  outline: none;
  transition: 0.3s;
  font-family: Consolas, monospace;
}

textarea:focus {
  border-color: var(--primary);
  box-shadow: 0 0 12px var(--primary);
}

/* Buttons */
.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
  justify-content: center;
}

button {
  background: #000;
  color: var(--primary);
  border: 1px solid var(--primary);
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.25s;
  font-size: 14px;
}

button:hover {
  background: var(--primary-dark);
  color: black;
  box-shadow: 0 0 12px var(--primary);
}

button.active {
  background: var(--primary);
  color: black;
  box-shadow: 0 0 18px var(--primary-soft);
}

/* Reset */
.actions {
  text-align: center;
  margin-bottom: 20px;
}

#reset {
  background: #052e16;
  border-color: #16a34a;
  color: #bbf7d0;
}

#reset:hover {
  background: #16a34a;
  color: black;
}

/* Output box */
.box,
.chain {
  background: #000;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid var(--border);
  word-break: break-all;
  box-shadow: inset 0 0 10px #22c55e22;
}

.box strong,
.chain strong {
  color: var(--primary);
}

#hash {
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.5;
  color: #86efac;
}

/* Hash Chain */
.chain {
  margin: 15px 0;
  font-size: 14px;
}

#chain {
  margin-top: 6px;
  word-break: break-word;
  opacity: 0.9;
  color: #86efac;
}

/* Info */
.info {
  margin-top: 15px;
  font-size: 13px;
  text-align: center;
  opacity: 0.7;
}

/* Icons */
button i {
  margin-right: 6px;
  font-size: 14px;
}

.chain i,
.box i {
  margin-right: 6px;
  color: var(--primary);
}

#reset i {
  margin-right: 5px;
}