body {
      font-family: Arial, sans-serif;
      background: #111;
      color: #fff;
      padding: 30px;
    }

    textarea {
      width: 100%;
      height: 120px;
      font-size: 16px;
      padding: 10px;
    }

    .box {
      background: #222;
      padding: 15px;
      margin-top: 20px;
      border-radius: 8px;
      word-break: break-all;
    }

    h1 {
      color: #00ffcc;
    }